In [108]:
import pandas as pd
pd.set_option('display.max_columns', None)
from pandas.api.types import CategoricalDtype

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_style()

from scipy import stats, linalg

import folium
from folium.plugins import MarkerCluster

In [91]:
df = pd.read_csv('../dados/kc_house_data.csv', parse_dates = ['date'])
df_type = CategoricalDtype(categories = df, ordered=True)

In [92]:
df['view'] = df['view'].astype(df_type)
df['condition'] = df['condition'].astype(df_type)
df['grade'] = df['grade'].astype(CategoricalDtype(categories = df, ordered=False))
df['zipcode'] = df['zipcode'].astype(str)
df.sort_values(by=['date'])
df.head(50)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,NaN,NaN,NaN,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,NaN,NaN,NaN,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,NaN,NaN,NaN,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,NaN,NaN,NaN,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,NaN,NaN,NaN,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,NaN,NaN,NaN,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,NaN,NaN,NaN,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,NaN,NaN,NaN,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,NaN,NaN,NaN,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,NaN,NaN,NaN,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
10,1736800520,2015-04-03,662500.0,3,2.50,3560,9796,1.0,0,NaN,NaN,NaN,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
11,9212900260,2014-05-27,468000.0,2,1.00,1160,6000,1.0,0,NaN,NaN,NaN,860,300,1942,0,98115,47.6900,-122.292,1330,6000
12,114101516,2014-05-28,310000.0,3,1.00,1430,19901,1.5,0,NaN,NaN,NaN,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
13,6054650070,2014-10-07,400000.0,3,1.75,1370,9680,1.0,0,NaN,NaN,NaN,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
14,1175000570,2015-03-12,530000.0,5,2.00,1810,4850,1.5,0,NaN,NaN,NaN,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
15,9297300055,2015-01-24,650000.0,4,3.00,2950,5000,2.0,0,NaN,NaN,NaN,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
16,1875500060,2014-07-31,395000.0,3,2.00,1890,14040,2.0,0,NaN,NaN,NaN,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
17,6865200140,2014-05-29,485000.0,4,1.00,1600,4300,1.5,0,NaN,NaN,NaN,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
18,16000397,2014-12-05,189000.0,2,1.00,1200,9850,1.0,0,NaN,NaN,NaN,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
19,7983200060,2015-04-24,230000.0,3,1.00,1250,9774,1.0,0,NaN,NaN,NaN,1250,0,1969,0,98003,47.3343,-122.306,1280,8850
20,6300500875,2014-05-14,385000.0,4,1.75,1620,4980,1.0,0,NaN,NaN,NaN,860,760,1947,0,98133,47.7025,-122.341,1400,4980
21,2524049179,2014-08-26,2000000.0,3,2.75,3050,44867,1.0,0,NaN,NaN,NaN,2330,720,1968,0,98040,47.5316,-122.233,4110,20336
22,7137970340,2014-07-03,285000.0,5,2.50,2270,6300,2.0,0,NaN,NaN,NaN,2270,0,1995,0,98092,47.3266,-122.169,2240,7005
23,8091400200,2014-05-16,252700.0,2,1.50,1070,9643,1.0,0,NaN,NaN,NaN,1070,0,1985,0,98030,47.3533,-122.166,1220,8386
24,3814700200,2014-11-20,329000.0,3,2.25,2450,6500,2.0,0,NaN,NaN,NaN,2450,0,1985,0,98030,47.3739,-122.172,2200,6865
25,1202000200,2014-11-03,233000.0,3,2.00,1710,4697,1.5,0,NaN,NaN,NaN,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
26,1794500383,2014-06-26,937000.0,3,1.75,2450,2691,2.0,0,NaN,NaN,NaN,1750,700,1915,0,98119,47.6386,-122.360,1760,3573
27,3303700376,2014-12-01,667000.0,3,1.00,1400,1581,1.5,0,NaN,NaN,NaN,1400,0,1909,0,98112,47.6221,-122.314,1860,3861
28,5101402488,2014-06-24,438000.0,3,1.75,1520,6380,1.0,0,NaN,NaN,NaN,790,730,1948,0,98115,47.6950,-122.304,1520,6235
29,1873100390,2015-03-02,719000.0,4,2.50,2570,7173,2.0,0,NaN,NaN,NaN,2570,0,2005,0,98052,47.7073,-122.110,2630,6026
30,8562750320,2014-11-10,580500.0,3,2.50,2320,3980,2.0,0,NaN,NaN,NaN,2320,0,2003,0,98027,47.5391,-122.070,2580,3980
31,2426039314,2014-12-01,280000.0,2,1.50,1190,1265,3.0,0,NaN,NaN,NaN,1190,0,2005,0,98133,47.7274,-122.357,1390,1756
32,461000390,2014-06-24,687500.0,4,1.75,2330,5000,1.5,0,NaN,NaN,NaN,1510,820,1929,0,98117,47.6823,-122.368,1460,5000
33,7589200193,2014-11-10,535000.0,3,1.00,1090,3000,1.5,0,NaN,NaN,NaN,1090,0,1929,0,98117,47.6889,-122.375,1570,5080
34,7955080270,2014-12-03,322500.0,4,2.75,2060,6659,1.0,0,NaN,NaN,NaN,1280,780,1981,0,98058,47.4276,-122.157,2020,8720
35,9547205180,2014-06-13,696000.0,3,2.50,2300,3060,1.5,0,NaN,NaN,NaN,1510,790,1930,2002,98115,47.6827,-122.310,1590,3264
36,9435300030,2014-05-28,550000.0,4,1.00,1660,34848,1.0,0,NaN,NaN,NaN,930,730,1933,0,98052,47.6621,-122.132,2160,11467
37,2768000400,2014-12-30,640000.0,4,2.00,2360,6000,2.0,0,NaN,NaN,NaN,2360,0,1904,0,98107,47.6702,-122.362,1730,4700
38,7895500070,2015-02-13,240000.0,4,1.00,1220,8075,1.0,0,NaN,NaN,NaN,890,330,1969,0,98001,47.3341,-122.282,1290,7800
39,2078500320,2014-06-20,605000.0,4,2.50,2620,7553,2.0,0,NaN,NaN,NaN,2620,0,1996,0,98056,47.5301,-122.180,2620,11884
40,5547700270,2014-07-15,625000.0,4,2.50,2570,5520,2.0,0,NaN,NaN,NaN,2570,0,2000,0,98074,47.6145,-122.027,2470,5669
41,7766200013,2014-08-11,775000.0,4,2.25,4220,24186,1.0,0,NaN,NaN,NaN,2600,1620,1984,0,98166,47.4450,-122.347,2410,30617
42,7203220400,2014-07-07,861990.0,5,2.75,3595,5639,2.0,0,NaN,NaN,NaN,3595,0,2014,0,98053,47.6848,-122.016,3625,5639
43,9270200160,2014-10-28,685000.0,3,1.00,1570,2280,2.0,0,NaN,NaN,NaN,1570,0,1922,0,98119,47.6413,-122.364,1580,2640
44,1432701230,2014-07-29,309000.0,3,1.00,1280,9656,1.0,0,NaN,NaN,NaN,920,360,1959,0,98058,47.4485,-122.175,1340,8808
45,8035350320,2014-07-18,488000.0,3,2.50,3160,13603,2.0,0,NaN,NaN,NaN,3160,0,2003,0,98019,47.7443,-121.977,3050,9232
46,8945200830,2015-03-25,210490.0,3,1.00,990,8528,1.0,0,NaN,NaN,NaN,990,0,1966,0,98023,47.3066,-122.371,1228,8840
47,4178300310,2014-07-16,785000.0,4,2.50,2290,13416,2.0,0,NaN,NaN,NaN,2290,0,1981,0,98007,47.6194,-122.151,2680,13685
48,9215400105,2015-04-28,450000.0,3,1.75,1250,5963,1.0,0,NaN,NaN,NaN,1250,0,1953,0,98115,47.6796,-122.301,970,5100
49,822039084,2015-03-11,1350000.0,3,2.50,2753,65005,1.0,1,NaN,NaN,NaN,2165,588,1953,0,98070,47.4041,-122.451,2680,72513

In [93]:
df.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                   category
condition              category
grade                  category
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                  object
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [94]:
df.shape

(21613, 21)

In [95]:
df.describe(include = 'all')

C:\Users\guilh\AppData\Local\Temp/ipykernel_15316/4220128335.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include = 'all')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,0,0,0,21613.000000,21613.000000,21613.000000,21613.000000,21613,21613.000000,21613.000000,21613.000000,21613.000000
unique,NaN,372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,70,NaN,NaN,NaN,NaN
top,NaN,2014-06-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98103,NaN,NaN,NaN,NaN
freq,NaN,142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,602,NaN,NaN,NaN,NaN
first,NaN,2014-05-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2015-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4.580302e+09,NaN,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,NaN,NaN,NaN,1788.390691,291.509045,1971.005136,84.402258,NaN,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,NaN,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,NaN,NaN,NaN,828.090978,442.575043,29.373411,401.679240,NaN,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,NaN,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,NaN,NaN,NaN,290.000000,0.000000,1900.000000,0.000000,NaN,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,NaN,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,NaN,NaN,NaN,1190.000000,0.000000,1951.000000,0.000000,NaN,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,NaN,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,NaN,NaN,NaN,1560.000000,0.000000,1975.000000,0.000000,NaN,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,NaN,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,NaN,NaN,NaN,2210.000000,560.000000,1997.000000,0.000000,NaN,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,NaN,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,NaN,NaN,NaN,9410.000000,4820.000000,2015.000000,2015.000000,NaN,47.777600,-121.315000,6210.000000,871200.000000

In [112]:
map_h = folium.Map(location = [df['lat'].mean(), df['long'].mean()], zoom_start = 10)
marker_cluster = MarkerCluster().add_to(map_h)
MAX_RECORDS = 100

for name, row in df.iterrows():
    folium.Marker([row["lat"], row["long"]], 
                  popup="Sold for {0}$ on: {1}. Features: {2} sqft, {3} bedrooms, {4} bathrooms, year built: {5}".format(row["price"], row["date"], row['sqft_living'], row['bedrooms'], row['bathrooms'], row['yr_built'])).add_to(marker_cluster)

    
map_h.save('../maps/houses.html')